.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #123456;
  border-color: #123456;
}
.fifty {
  width: 49%;
  float: left;
}
input.form-control {
  margin: 10px 0px 10px 0px;
}
input.error {
  border: 1px solid #FF0000 !important
}
.form-signup {
  max-width: 400px;
  margin: 0 auto 30px auto;
}
.center {
  width: 400px;
  margin: 30px auto 0px auto;
}
.space {
  width: 2%;
  float: left;
}
.white {
  color: white;
}
.red {
  color: red;
}

