form.signup
{
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 10px;
    width: 300px;
}

form.signup input[type=text]
{
    width: 150px;
    margin-bottom: 10px;
}

label {
    float: left;
    margin-bottom: 10px;
}

label.title
{
    text-align: right;
    padding-right: 20px;
    width: 70px;
}

label.error {
    padding-left: 90px;
    color: red;
}

.heading {
    font-size: 18px;
    padding: 10px;
}

div {
    clear: both;
}

div.submit {
    text-align: right;
}

#output {
    color: green;
    padding: 10px;
}


